.button__1 {
  background-color: white;
  border: none;
  border-bottom: 5px solid rgb(214, 214, 214);
  box-shadow:
    0 2px 3px 1px rgba(36, 36, 36, 0.25),
    0 4px 5px 5px rgba(36, 36, 36, 0.1);
  transition: 0.1s linear;
  color: black !important;
}

.button__1:hover {
  transform: translateY(-2px);
  box-shadow:
    0 3px 3px 2px rgba(36, 36, 36, 0.25),
    0 6px 7px 6px rgba(36, 36, 36, 0.1);
}

.button__1:focus {
  transform: translateY(-2px);
  box-shadow: inset 0 3px 7px 1px rgba(36, 36, 36, 0.2);
  border-bottom: none;
}

.button__2 {
  color: green;
  border: none;
  background-color: rgb(191, 250, 213);
  border-radius: 999px;
  box-shadow:
    0 1px 5px 0.5px rgb(128, 193, 152),
    0 3px 10px 1px rgb(166, 225, 188);
  transition: 0.5s linear;
}

.button__2:hover {
  transform: scale(1.1);
  box-shadow:
    0 3px 10px 0.5px rgb(128, 193, 152),
    0 5px 20px 1px rgb(166, 225, 188);
}

.button__3 {
  border-radius: 0;
  position: relative;
  background-color: transparent;
  border: 2px solid;
  color: black;
}

.button__3::after {
  content: "";
  position: absolute;
  background: #fee54d;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  z-index: -2;
}

.button__3:hover::after {
  top: 0;
  left: 0;
}

.button__4 {
  border-radius: 0;
  background: linear-gradient(
    to right bottom,
    rgb(202, 20, 202),
    rgb(32, 32, 218),
    aqua
  );
  display: flex;
  border-radius: 5px;
  padding: 20px 36px;
  border: none;
  position: relative;
}

.button__4::after {
  content: "Button 4";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__4:hover::after {
  background-color: transparent;
  color: black;
}

.button__5 {
  background: linear-gradient(
      to left,
      rgb(255, 167, 167) 50%,
      rgb(255, 62, 62) 50%
    )
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button__5:hover {
  background-position: left;
  color: rgb(136, 14, 14);
}

.button__6 {
  position: relative;
  overflow: hidden;
  background: transparent;
}

.button__6::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  background-color: rgb(255, 218, 72);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s ease-in;
  transform: rotate(-45deg) translateY(-3em);
  transform-origin: left bottom;
}

.button__6:hover::after {
  height: 100%;
  transform: rotate(0deg);
}

.button__7 {
  overflow: hidden;
  position: relative;
  background: transparent;
}

.button__7::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fee54d;
  z-index: -2;
}

.button__7::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 999px;
  z-index: -1;
  background: white;
  transition: 1s ease-in;
  display: flex;
}

.button__7:hover::after {
  width: 0;
  height: 0;
}

.button__8 {
  background: rgb(255, 222, 186);
  position: relative;
  overflow: hidden;
}

.button__8::after {
  content: "Button 8";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgb(255, 193, 127);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.5s ease-in;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__8:hover::after {
  width: 150px;
  height: 150px;
  z-index: 1;
  color: rgb(146, 89, 28);
}

.button__9 {
  background-color: black;
  color: white;
  position: relative;
}

.button__9:active {
  background: transparent;
  color: black;
  border: none;
}

.button__9::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  filter: blur(5px);
  background-size: 200%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: -5px;
  left: -5px;
  z-index: -1;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: glowing 10s linear infinite;
}

.button__9:hover::after {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button__10 {
  position: relative;
  border: none;
  background-color: transparent;
}

.button__10 span {
  position: relative;
  color: white;
  z-index: 5;
}

.button__10::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: 0.5s;
}

.button__10::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: -10px;
  right: -10px;
  border-radius: 999px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  transition: 0.5s;
}

.button__10:hover::before {
  transform: translateY(10px) scale(110%);
}

.button__10:hover::after {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button__10:hover span {
  transform: translateY(10px);
}

.button__11 {
  position: relative;
  background-color: #ff013c;
  border-right: 10px solid #00e6f6;
  border-radius: 0;
}

.button__11::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff013c;
  border-right: 10px solid #00e6f6;
  content: "Another";
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  clip-path: inset(50%);
}

.button__11:hover::after {
  animation: glitch 1.5s infinite;
}

@keyframes glitch {
  0% {
    clip-path: inset(50%);
    transform: translate(-10px, 10px);
  }

  10% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: inset(50% -6px 30% 80);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: inset(10% -6px 85% 0);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: inset(40% -6px 43% 0);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: inset(80% -6px 5% 0);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: inset(40% -6px 43% 0);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: inset(80% -6px 5% 0);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: inset(80% -6px 5% 0);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: inset(50%);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: inset(80% -6px 0 0);
    transform: translate(20px, -10px);
  }
}

.button__12 {
  --b: 20px;
  position: relative;
  border: none;
  border-radius: 0;
  transition: 0.5s;
}

.button__12::after {
  content: "";
  position: absolute;
  width: calc(100% - var(--b) * 1.5);
  height: 100%;
  top: 0;
  left: calc(var(--b) / 2);
  border-left: calc(var(--b) / 4) solid black;
  border-right: calc(var(--b) / 4) solid black;
  transition: 0.5s;
}

.button__12::before {
  --b: 20px;
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - var(--b) * 1.5);
  top: calc(var(--b) / 2);
  left: 0;
  border-top: calc(var(--b) / 4) solid black;
  border-bottom: calc(var(--b) / 4) solid black;
  transition: 0.5s;
}

.button__12:hover::after {
  width: calc(100% - var(--b) / 2 + 1px);
  left: 0;
}

.button__12:hover::before {
  height: calc(100% - var(--b) / 2);
  top: 0;
}

.button__12:hover {
  outline: calc(var(--b) / 4) black solid;
  outline-offset: calc(var(--b) / 4);
}

.button__13 {
  padding: 5px 50px !important;
  border-radius: 0;
  border: none;
  color: white;
  background-color: #ff0040;
  transform: rotateY(40deg);
  transition: 0.5s ease-in;
  font-weight: 600;
  text-shadow: 8px 0 rgba(0, 0, 0, 0.5);
  border-right: 5px solid #870827;
}

.button__13:hover {
  transform: rotateY(-40deg);
  text-shadow: -8px 0 rgba(0, 0, 0, 0.5);
  border-right: none;
  border-left: 5px solid #870827;
}

.button__14 {
  position: relative;
}

.button__14__loading {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: 0.8s linear infinite rotate;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.button__15 {
  border: 2px solid #ef6eae;
  color: #b6266e;
  background-color: #ffacd6;
}

.button__15:hover {
  animation: btn26 1s;
  box-shadow: 0 0 0 20px transparent;
}

@keyframes btn26 {
  0% {
    box-shadow: 0 0 0 0 #ef6eae;
  }
}

.button__27 {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.bg__27__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: #539be4;
}

.bg__27__bubble {
  --text-color: hsla(210, 50%, 85%, 1);
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  background: radial-gradient(
      circle at 20% 35%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 75% 44%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 46% 52%,
      transparent 0,
      transparent 4px,
      var(--text-color) 5px,
      var(--text-color) 6px,
      transparent 6px
    );
  animation: bubbles 2s linear infinite both;
}

.bg__27 {
  content: "Button 27";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 1s;
  content: "Button 27";
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

@keyframes bubbles {
  from {
    transform: translate();
  }

  to {
    transform: translate(0, -66.666%);
  }
}

.bg__27L {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -66%;
  background: transparent;
}

.bg__27M {
  position: absolute;
  width: 33%;
  height: 100%;
  top: 0;
  left: 33%;
  background: transparent;
}

.bg__27R {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -66%;
  background: transparent;
}

.bg__27M:hover ~ .bg__27 {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.bg__27R:hover ~ .bg__27 {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 25%);
}

.bg__27L:hover ~ .bg__27 {
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0 75%);
}
