@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./utils/fonts/futirism/futirism.css");

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    @apply text-center text-xl font-extrabold uppercase leading-5;
  }

  h2 {
    @apply text-3xl font-bold uppercase;
  }

  h3 {
    @apply text-2xl font-bold capitalize;
  }
}

@layer components {
}

@layer utilities {
  // .container {
  //   @apply mx-auto w-full px-2 md:max-w-screen-sm md:px-0 lg:max-w-screen-md xl:max-w-screen-lg 2xl:max-w-screen-xl;
  // }

  .container {
    @apply mx-auto max-w-[90%];
  }

  .font-futirism {
    font-family: "futirism";
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply rounded bg-white/50 p-2 after:text-2xl after:text-white hover:bg-black;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
}

.swiper-pagination {
  @apply flex flex-row justify-center;
}

.swiper-pagination-bullet {
  @apply flex h-4 w-4 cursor-pointer items-center justify-center bg-black/20 text-center text-[10px] text-white #{!important};
}

.swiper-slide {
  @apply h-auto #{!important};
}
